@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* your base customizations */
}

@layer components {
  /* component-level customizations */
}

@layer utilities {
  /* utility-level customizations */
}
